# Виртуальное окружение
Girls-AI/
__pycache__/
*.pyc

# Временные файлы
*.wav
temp_audio.wav
temp.wav

# Логи
*.log

# FFmpeg
ffmpeg/

# Папка с данными (если не нужна в репозитории)
Girls/ChuChu/
Girls/Mai/
Girls/logs/
Girls/models/
Girls/src/
Girls/voices/