# Виртуальное окружение
Girls-AI/
__pycache__/
*.pyc

# Временные аудиофайлы
*.wav
temp_audio.wav
temp.wav

# Тестовые файлы
test_*.py
llm_helper.py

# FFmpeg
ffmpeg/

# Папки с данными (если пустые)
Girls/ChuChu/
Girls/Mai/
Girls/logs/
Girls/models/
Girls/src/
Girls/voices/
src/